{% extends 'scamclothes/pages/header.html' %}
{% load static %}
{% block content %}
    <div id="main">
  <div id="userProfile"></div>
  <div id="container-flight_post">
    <div id="picture">
        <img src="{{ post.photo.url }}" style="width: 500px; margin-top: 100px; margin-left: -50px;">
    </div>
    <div id="profileInfo">
      <h1 class="firstName">{{ post.city1 }}-</h1>
      <h1 class="lastName">{{ post.city2 }}</h1>
      <p>
        {{ post.content }}
      </p>

    </div>
  </div>

  <div id="stats">
    <p><b>Цена:</b>{{ post.start_price }}BYN</p>
    <div class="post-actions">
                    <form action="{% url 'add_to_bucket' post.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="bucket-btn"><i class="fa-solid fa-cart-shopping" style="width:50px; color: black;"></i></button>
                    </form>
                </div>

  </div>
</div>


{% endblock %}