{% extends 'scamclothes/password/base_password.html' %}
{% load socialaccount %}
{% load static %}
{% block content %}

        <div class="form-wrapper">
            <h2>Восстановление пароля</h2>
            <p>Введите ваш email, чтобы получить ссылку для сброса пароля.</p>
            <form method="post">
              {% csrf_token %}
                <div class="form-group">
                  {{ form.email.errors }}
                  <div class="flex-container">
                    <label for="id_email">Email</label>
                    {{ form.email }}
                  </div>
                </div>
              <div class="submit-row">
                <input type="submit" value="Cбросить пароль" style="width: 100%;
    padding: 12px;
    background-color: #0a2540; /* Зеленый цвет кнопки */
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
              </div>
            </form>
        </div>

{% endblock %}




