{% extends 'scamclothes/password/base_password.html' %}
{% load socialaccount %}
{% load static %}
{% block content %}

<p><b>Письмо с инструкциями по восстановлению пароля отправлено</b></p>

<p><b>Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.</b></p>

<p><b>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</b></p>

{% endblock %}




