{% extends 'scamclothes/password/base_password.html' %}
{% load socialaccount %}
{% load static %}
{% block content %}

{% if validlink %}

<form method="post">
  {% csrf_token %}
    <div class="form-group">
      {{ form.new_password1.errors }}
      <div class="form-group">
        <label for="id_new_password1">Новый пароль:</label>
        {{ form.new_password1 }}
      </div>
    </div>
    <div class="form-group">
      {{ form.new_password2.errors }}
      <div class="form-group">
        <label for="id_new_password2">Подтвердите пароль:</label>
        {{ form.new_password2 }}
      </div>
    </div>

  <div class="submit-row">
    <input type="submit" value="Сменить пароль" style="width: 102%;
    padding: 12px;
    background-color: #0a2540; /* Зеленый цвет кнопки */
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
  </div>
</form>

{% else %}

<p>Ссылка уже не действительна</p>
{% endif %}

{% endblock %}
